* {
  margin: 0;
  padding: 0px;
}

#centralizar-elementos {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.elementos-esquerda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;

}

body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --minWidth: 500px;
  /* Tamanho mínimo de largura */
  --minHeight: 500px;
  /* Tamanho mínimo de altura */
  --maxWidth: 600px;
  /* Tamanho máximo de largura */
  --maxHeight: 600px;
  /* Tamanho máximo de altura */


  --imgWidth: 500px;
  --imgHeight: 500px;
  --imgBorder: 10px;
  --glassRadius: 60px;
}


#image {
  position: relative;
  width: var(--imgWidth);
  height: var(--imgHeight);
  border: var(--imgBorder) solid #fff 1px;
  /*box-shadow: 0px 0px 8px 8px #fff;*/
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 500px;
  margin-right: 20px;
  /* Torna a borda circular */
  max-width: var(--maxWidth);
  min-width: var(--minWidth);
  max-height: var(--maxHeight);
  min-height: var(--minHeight);

}


#range {
  position: relative;
  padding: 5px 5px;
  border: var(--imgBorder) solid #fff;
  background-color: #fff;
  left: calc(var(--imgBorder) * -1);
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 10px;
  user-select: none;
  transform: translateX(-50%);
  margin-left: 150px;
  margin-top: 30px;


}



#range input {
  cursor: pointer;
  color: aquamarine
}

#glass {

  width: 150px;
  /* Ajuste o tamanho da largura conforme necessário */
  height: 150px;
  /* Ajuste o tamanho da altura conforme necessário */
  border-radius: 100px;
  /* Ajuste o raio da borda para torná-la circular */
  border: 1px solid #fff;

  position: absolute;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: calc(var(--imgWidth)* var(--m)) calc(var(--imgHeight) * var(--m));
  background-position: calc(var(--glassRadius) - var(--x) * var(--m)) calc(var(--glassRadius) - var(--y) * var(--m));
  display: none;
  /* Começa oculta */

}




#eventLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: none;


}

#eventLayer:active {
  cursor: pointer;

}

.legenda-imagem {
  background-color: #fff;
  /* Cor de fundo da div */
  color: #212026;
  /* Cor do texto */
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 3%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
 margin-right: 40px;
  width: 250px;
  height: 70px;

}

.texto-ajuda{
  background-color: #fff;
  font-size: 18px;
  border-radius: 10px 10px 10px 10px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 1%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 22%;
  width: 200px;
  height: 170px;
  margin-left: 40px;
  
  text-align: justify;
}

/*botoes*/

.menu {
  display:flex;
  justify-content:space-between;
  bottom: 30px;
  width: 190px;
  margin-left: 1%;
  margin-top: 250px;

}

#button-10x {
  position: absolute;
  border-radius: 100%;
  border: solid #fff 2px;


}

#button-home {
  position: absolute;
  background-image: url('./imagens/seta.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  /* Centraliza a imagem horizontal e verticalmente */
  border-radius: 100%;
  padding: 20px;
  border: solid #fff 2px;

}

#button-40x {
  position: absolute;
  border-radius: 100%;
  border: solid #fff 2px;

}


.button-86 {
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  background-color: #ffffff;
  color: #000;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  /* Defina o tamanho desejado para o círculo */
  height: 50px;
  /* Mantenha o mesmo valor que a largura para criar um círculo */
}

/* Estilo quando o botão é hover (passar o mouse por cima) */
.button-86:hover {
  background-color: #c1c1c1;
  /* Cor de fundo alterada */
}

/* Estilo para o link dentro do botão */
.button-86 a {

  text-decoration: none;
  /* Remova a decoração de texto do link */
}

/*fim dos botoes*/

/*  Estilos para telas com largura igual ou superior a 1920 pixels */
@media screen and (min-width: 1919px) {
  body{
    background-color: rgb(0, 0, 0);

  }

  :root {
    --minWidth: 500px;
    /* Tamanho mínimo de largura */
    --minHeight: 500px;
    /* Tamanho mínimo de altura */
    --maxWidth: 600px;
    /* Tamanho máximo de largura */
    --maxHeight: 600px;
    /* Tamanho máximo de altura */
  
  
    --imgWidth: 500px;
    --imgHeight: 500px;
    --imgBorder: 10px;
    --glassRadius: 60px;
  }

  .legenda-imagem {
    font-size: 23px;
    padding: 4%;
    width: 320px;
    height: 100px;
    margin-bottom: 20px;
    
    }


    .texto-ajuda{
      font-size: 23px;
      padding: 2%;
      
      width: 300px;
      height: 200px;
      margin-bottom: 300px;
    
    }

    
    #range{
      margin-bottom: 100px;
    }
    
    
    #image {
      margin-right: 20px;      
      margin-left: 1%;
    
    }

    .button-86 {
      font-size: 20px;
      width: 70px;
      /* Defina o tamanho desejado para o círculo */
      height: 70px;
      /* Mantenha o mesmo valor que a largura para criar um círculo */
    }

    .menu {
      display:flex;
      justify-content:space-between;
      bottom: 30px;
      width: 250px;
      margin-left: 1%;
      margin-top: 250px;
    
    }

}


@media screen and (min-width: 1400px) and (max-width: 1918px) {
  


  
  legenda-imagem {
    font-size: 30px;
    padding: 10%;
   margin-bottom: 60%;
    width: 300px;
    height: 150px;
    max-height: 130px;
  }
 
    .texto-ajuda{
      font-size: 18px;
      padding: 2%;
      margin-bottom: 23%;
      width: 200px;
      height: 170px;
      margin-left: 40px;
    }

    #range {
      position: relative;
 
      
      margin-top: 50px;
    
    }
}



